{% extends 'base.html' %}
{% block content %}
    <!-- universe list -->
    <div class="row">
        <div class="col-md-12">
            <h1>Universes</h1>
            <ul>
                {% for universe in object_list %}
                    <li><a href="{% url 'uniwiki-detail' pk=universe.id %}">{{ universe.name }}</a></li>
                {% endfor %}
            </ul>
            <!-- button to create new universe -->
            <a href="{% url 'uniwiki-create' %}" class="btn btn-primary">New Universe</a>
        </div>
    </div>
{% endblock %}
